{% extends 'admin/master.html' %}

{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>SQLite Sensor Storage pt. 3</h1>
      <p>Lets Do This!!</p>
      <a href="/export/" target="blank"><button class='btn btn-default'>Download!</button> </a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for sensor in config.MODEL.get_sensors() %}
        <div class="col-md-5">
          <h2>{{ sensor.name }}</h2>
          <canvas id='chart_{{ sensor.id }}' width='400' height='400'></canvas>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block tail %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
  <script>
    // Function to build a DHT sensor chart.  Must pass in the id of the canvas
    // which will hold the chart, then a list of labels, humidity values, and
    // temperature values.
    function buildDHTChart(id, labels, humidity, temperature) {
      // Use Chart.js to build a chart with humidity and temperature.
      var ctx = $(id).get(0).getContext('2d');
      var dhtChart = new Chart(ctx).Line({
        labels: labels,
        datasets: [
          {
            label: "Temperature (Celsius)",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: temperature
          },
          {
            label: "Humidity (%)",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: humidity
          }
        ]
      });
    }

    // JQuery ready function will be called once all the assets on the page (like
    // Chart.js) have loaded.
    $(document).ready(function() {
      // Loop through each sensor and call the buildDHTChart function above
      // to generate its chart.
      {% for sensor in config.MODEL.get_sensors() %}
        {% set readings = config.MODEL.get_recent_readings(sensor.name) %}
        buildDHTChart('#chart_{{ sensor.id }}',
                      ["{{ readings|reverse|join('\",\"', attribute='time')|safe }}"],
                      [{{ readings|reverse|join(',', attribute='humidity') }}],
                      [{{ readings|reverse|join(',', attribute='temperature') }}]);

      {% endfor %}

      $('#Export_CSV').click(function() {
        $.open('/export/');
        console.log('success')
      });
    });
  </script>
{% endblock %}
